VITE_FIREBASE_API_KEY="SuaApiKeyAqui"
VITE_FIREBASE_AUTH_DOMAIN="SeuAuthDomainAqui"
VITE_FIREBASE_PROJECT_ID="SeuProjectIdAqui"
VITE_FIREBASE_STORAGE_BUCKET="SeuStorageBucketAqui"
VITE_FIREBASE_MESSAGING_SENDER_ID="SeuMessagingSenderIdAqui"
VITE_FIREBASE_APP_ID="SeuAppIdAqui"
VITE_FIREBASE_MEASUREMENT_ID="SeuMeasurementIdAqui"

VITE_COORD_HASH=HashEmBase64ParaCoordenacao
VITE_SCHOOL_CODE_HASH=HashEmBase64ParaEscolaPratici
VITE_DEV_HASH=HashEmBase64ParaDev
